.resume{
    margin-bottom: 5px;
    text-align: center;


    a{
        text-decoration: none;
        color: gold;
        text-transform: uppercase;
    }

    a:hover{
        color: white;
    }

    img{
        width: 50%;
    }
}

